<mt:var name="mt_version_id" regex_replace="/^(\d+)\.\d+(\.\d+)?$/","$1" setvar="mt_major_version_id" />
<mt:var name="mt_version_id" regex_replace="/^\d+\.(\d+)(\.\d+)?$/","$1" setvar="mt_minor_version_id" />

<mt:setvarblock name="js_include" append="1">
<script>
window.extendTinyMCE = extendTinyMCE = {};
<mt:if name="mt_major_version_id" ge="7">
extendTinyMCE.isTinyMCE5 = <mt:if name="mt_minor_version_id" ge="4">true<mt:else>false</mt:if>;
<mt:else>
extendTinyMCE.isTinyMCE5 = <mt:if name="mt_minor_version_id" ge="7">true<mt:else>false</mt:if>;
</mt:if>
</script>
<mt:if name="mt_version_id" like="^7">
<script type="text/javascript" src="<mt:var name="static_uri">plugins/ExtendTinyMCE/extension_mt7.js?ts=<mt:date format="%Y%m%d%H%M%S">"></script>
<mt:else>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/ExtendTinyMCE/extension.js?ts=<mt:date format="%Y%m%d%H%M%S">"></script>
</mt:if>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<mt:if name="mt_version_id" like="^7">
<style>
.mce-ico.mce-i-template {
 background: transparent url('<mt:var name="static_uri">images/icons/ic_template.svg') no-repeat center/16px;
 overflow: hidden;
 text-indent: 100%;
 white-space: nowrap;
}
</style>
<mt:else>
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/ExtendTinyMCE/skin/ui.css?ts=<mt:date format="%Y%m%d%H%M%S">" type="text/css" />
</mt:if>
</mt:setvarblock>
